<%-include("./partials/header")%>
<div class="row">
    <div style="width: 30%; margin: 25px auto;">
        <div class="col-md-12 text-center">
            <h1 class="mb-4">Login</h1>
        </div>
        <form class="form-signin" action="/login" method="post">
            <div class="form-label-group">
              <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
              <label for="inputUsername">Username</label>
            </div>
      
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
              <label for="inputPassword">Password</label>
            </div>
      
            <div class="checkbox mb-3">
                <a href="/forgot" style="display: block;">Forgot Password?</a>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy;YelpCamp 2019-2020</p>
          </form>

        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<%-include("./partials/footer")%>